apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-demo
  labels:
    app: docker-demo
spec:
  selector:
    matchLabels:
      app: docker-demo
  replicas: 3
  template:
    metadata:
      labels:
        app: docker-demo
    spec:
      containers:
      - name: docker-demo
        image: ehazlett/docker-demo
        ports:
        - containerPort: 8080
          name: docker-demo
        env:
        - name: TITLE
          value: "Formation Kubernetes"
        - name: SHOW_VERSION
          value: "true"
        - name: VERSION
          value: "1.0"